/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/pail
/vendor
.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.zed
.idea
public/js
public/css
.shopify
extensions/*/dist
extensions/*/generated
index.nginx-debian.html
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
